body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .background {
    background-image: url('imagenees/fondito_bingo2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px; 
  }
  
  .bingo-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .bingo-card {
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .bingo-card td {
    border: 1px solid black;
    width: 55px;
    height: 55px;
    text-align: center;
    font-size: 20px;
    position: relative;
  }
  
  .bingo-card .initial-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5); 
  }
  
  .bingo-card .number-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 24px;
  }
  
  .bingo-ball {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #cd966c;
    color: #000;
    font-size: 30px;
    font-weight: bold;
    line-height: 60px;
    border-radius: 50%;
    border: 2px solid #000;
    margin-bottom: 20px;
    animation: bounce 0.5s ease infinite alternate;
  }
  
  @keyframes bounce {
    from {
      transform: translateY(-10px);
    }
    to {
      transform: translateY(0);
    }
  }
  
  .controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  