<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bingo</title>
    <link rel="stylesheet" href="/static/css/bingo_styles.css">
    <script src="/static/js/bingo_script.js"></script>
</head>
<body>
    <div class="background">
        <div class="container">
            <div id="prueba">
                <div class="bingo-ball" id="bingo-ball"></div>
            </div>
            <div id="bingo-cards" class="bingo-cards">
            </div>
        </div>
        <div class="controls">
            <label for="num-cards">Número de cartones:</label>
            <select id="num-cards">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <button onclick="generateCards()">Generar Cartones</button>
            <button onclick="resetCards()">Reiniciar</button>

            <h3 id="room_id">Waiting for a number...</h3>
            <h3 id="player_1">Player 1</h3>
            <h3 id="player_2">Player 2</h3>
        </div>
    </div>
    <script src="bingo_script.js"></script>
    <script>
        // Function to extract the room_id from the URL
        function getRoomIdFromPath() {
                const pathSegments = window.location.pathname.split('/');
                return pathSegments[pathSegments.length - 1];
            }

            // Declare Socket Global
            let socket = null;

            // Get username from session storage and log it
            const username = sessionStorage.getItem("username")
            console.log("Username from Storage:", username)

            // Function to establish the WebSocket connection
            function establishConnection(roomId, username) {

                // Encode the username before sending it to the server
                console.log("Before Encode:", sessionStorage.getItem("username"))
                const encodedUsername = encodeURIComponent(sessionStorage.getItem("username"));

                // Establish the WebSocket connection with the server
                socket = new WebSocket(`wss://mascaro101.pythonanywhere.com/ws/bingo_mp/${roomId}?username=${encodedUsername}`);
                socket.onopen = function(event) {
                    console.log("WebSocket connection established with room:", roomId);
                };

                // On recieve message from server
                socket.onmessage = function(event) {
                    console.log("Message from server:", event.data);
                    try {
                        // Parse the JSON data received from the server
                        const data = JSON.parse(event.data);

                        // Extract room and player information from the parsed data
                        const room = data.room;
                        const player_1 = data.player_1;
                        const player_2 = data.player_2;

                        // Update the DOM elements or handle the data as needed
                        document.getElementById('room_id').textContent = room;
                        document.getElementById('player_1').textContent = player_1;
                        document.getElementById('player_2').textContent = player_2;

                    } catch (error) {
                        console.error("Error parsing JSON from server:", error);
                    }
                };

                socket.onerror = function(event) {
                    console.error("WebSocket error observed:", event);
                };

                socket.onclose = function(event) {
                    console.log("WebSocket connection closed:", event.reason);
                };
            }

            // Function to disconnect the WebSocket
            function disconnectWebSocket() {
                if (socket) {
                    socket.close(1000, "Closing connection normally");
                }
            }

            // Establish and Handle websocket based on data from roomID
            const roomId = getRoomIdFromPath();
            if (roomId) {
                establishConnection(roomId);
            } else {
                console.error('Room ID is missing from the URL');
            }

            // Disconect websocket once page is closed
            window.addEventListener('beforeunload', function() {
                disconnectWebSocket();
            });
    </script>
</body>
</html>
