<!DOCTYPE html>
<html>
<head>
    <title>Set Username</title>
</head>
<body>
    <h1>Black Jack</h1>
    <h1> Your Cards</h1>
    <h2>CARDS</h2>

    <h1>Dealer's Cards</h1>
    <h2>CARDS</h2>

    <button>DEAL</button>

    <script>
    function setUsername(event) {
        event.preventDefault();
        const username = sessionStorage.getItem("username")
        document.getElementById('username').textContent = username;
    }

    document.addEventListener('DOMContentLoaded', setUsername);
    </script>

</body>
</html>