<!DOCTYPE html>
<html>
<head>
    <title>Set Username</title>
</head>
<body>
    <h1> Username </h1>
    <input type="text" id="usernameInput">

    <form action="/session_menu" onsubmit="setUsername(event)">
        <button type="submit">Send</button>
    </form>


    <script>
    function setUsername(event) {
        event.preventDefault();

        let username = document.getElementById('usernameInput').value;
        sessionStorage.setItem("username", username)

        fetch('/set_username', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({username: username}),
        })
        .then(() => {
            // After the fetch function has finished, submit the form
            event.target.submit();
        });
    }
    </script>

</body>
</html>