<!DOCTYPE html>
<html>
<head>
    <title>Random Number Generator</title>
</head>
<body>
    <h1 id="header">Waiting for a name...</h1>

    <!-- Add a text input and a button -->
    <input type="text" id="myInput">
    <button onclick="sendMessage()">Send</button>

    <script>
    let socket = new WebSocket("wss://mascaro101.pythonanywhere.com/ws");
    socket.onmessage = (event) => {
        let name = event.data;
        // Update the header with the new name
        document.getElementById('header').textContent = name;
    };

    // Function to send a message to the server
    function sendMessage() {
        let message = document.getElementById('myInput').value;
        socket.send(message);
    }
    </script>
</body>
</html>