<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bingo RAND NUM TEST</title>

</head>
<body>

    <h1 id=num> NUMBER </h1>

    <button id=gen_num_button> GEN NUM </button>

    <script>
        document.getElementById("gen_num_button").addEventListener("click", async () => {
            const response = await fetch('/generate-number', { method: 'POST' });
            const data = await response.json();
            console.log(data.number);
            document.getElementById("num").textContent = data.number;
        });

        let socket = null;

        function establishConnection(number){
            socket = new WebSocket(`wss://mascaro101.pythonanywhere.com/ws/random_number`);
            socket.onopen = function(event){
                console-log("Established WebSocket")
            }
        }
    </script>
</body>
</html>